/* Services Styles */
.services {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
}

.services h2 {
  width: 100%; /* Ensures the title is alone on its line */
  color: #285C4D; /* Dark green, similar to your title colors */
  font-size: 45px;
  padding-top: 30px;
    
  
}

.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Adjusts each service card to fill the container on smaller screens */
}

.service-text-content, .service-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.service-images img {
  width: 100%;
  max-width: 300px;
  max-height: 350px;
  margin-top: 10px;
  border-radius: 20px;
}

.see-more-btn {
  margin-top: 15px; /* Increased spacing from the description */
  margin-bottom: 3px;
  padding: 12px 25px; /* Larger button for better interaction */
  font-size: 1em;
  color: white;
  background-color: #4CAF50; /* Green background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth color transition on hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.see-more-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.service-title {
  font-size: 1.8em; /* Larger font size */
  color: #285C4D; /* Dark green, adjust the color to fit your branding */
  font-weight: bold; /* Make it bold */
  margin-bottom: 10px; /* Adjust spacing */
  text-align: center; /* Center align the title */
}

.service-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.service-full-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 0 20px; /* Add padding for content visibility */
}

.service-full-description.open {
  max-height: 500px; /* Adjust as needed based on content size */
}



@media (max-width: 767px) {
  .services {
    flex-direction: column;
  }
  .service-section {
    width: 100%;
  }
}


@media (min-width: 768px) {
  .services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .service-section {
    width: calc(30% - 20px); /* Reduced width to fit three cards in a row */
    margin: 10px; /* Reduced margins to allow more space */
  }
}
