/* Footer Styles */
.footer {
    background-color: #f8f8f8;
    color: #333333;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
/*     width: auto;
 */  }
  
  .footer p {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #4caf50; /* Green color from the logo */
  }
  